$menu-font-size: 1.5625rem;

.menu-list {
  padding: 0;
  font-size: $menu-font-size;

  li {
    &:first-child {
      //margin-top: 3.75rem;
    }
    list-style-type: none;
    margin-bottom: .7rem;

    a {
      display: block;
      color: white;
      text-decoration: none;
      padding: 7px;
      transition: background-color .2s ease-in-out;

      &:hover {
        background-color: rgba(177, 179, 180, .37);
        width: 100%;
      }
    }
  }

  &.collapsable {
    transition: opacity .8s ease-in-out;
  }

  @media (max-width: 900px) {
    li {
      &:first-child{
        //margin-top: 2.75rem;
      }
    }

    a {
      font-size: 1.125rem;
    }
  }
}
