$background-image: './../../assets/images/home-page/shutterstock_709645828.png';

.home-wrap {
  background-image: url($background-image);
  background-color: rgba(0, 0, 0, 1);
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  @media (max-width: 500px) {
    > div {
      flex-direction: column;
    }
  }

}
