.section-title {
  font-size: 6.25rem;
  padding-bottom: 6.9375rem;

  @media (max-width: 500px) {
    font-size: 40px;
    padding-bottom: 3.3125rem;
  }
}

.section {
  margin-top: 6.25rem;

  @media (max-width: 500px) {
    margin-top: 4rem;
  }
}

