$dialog-max-width: 1003.52px;
$dialog-left-margin: -($dialog-max-width / 2);
$dialog-title-font-size: 2.8125rem;
$menu-list-title-font-size: 1.875rem;
$menu-list-item-font-size: 1.125rem;

.dialog {
  top: 89px;
  max-width: $dialog-max-width;
  background-color: rgb(51, 51, 51);
  left: 0;
  z-index: 33333;
  min-width: 359px;

  @media (min-width: 992px) {
    top: 66px;
    margin-left: $dialog-left-margin;
    left: 50%;
  }
}

.dialogInnerWrap {
  display: block;
  overflow: auto;
  padding-left: 2.3125rem;
  background-color: #333333;
}

.dialogHeader {
  padding-top: 41px;

  span {
    font-size: $dialog-title-font-size;
    font-style: italic;
  }

  img {
    padding-right: 1.875rem;
  }
}

.dialog-body {
  @media (min-width: 992px) {
    width: 50%;
  }
}

.list {
  padding: 0;
  text-align: left;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 45px;

  @media (min-width: 716px) {
    height: 781px;
  }

  @media (min-width: 992px) {
    margin-top: 99px;
  }
}

.sectionMenu {
  font-family: Bodoni72, Serif;
  padding-bottom: 62px;
  margin-right: 110px;

  .title {
    font-size: 30px;
    text-transform: capitalize;
  }

  .sectionList {
    padding-left: 0;
    font-size: 18px;
    letter-spacing: .4px;
    counter-reset: counter;
    list-style: none;

    li {
      counter-increment: counter;

      &:before {
        content: counter(counter) ". ";

      }

    }
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .8);
  overflow: scroll;
  z-index: 33333;
}