footer {
  padding-top: 5rem;
  padding-bottom: 4.5rem;
  background-color: black;

  li {
    display: inline-block;
  }

  span {
    padding-top: 22px;
  }

  > div {
    flex-direction: row;
  }

  @media (max-width: 991px) {
    margin-top: 9.0625rem;
    > div {
      flex-direction: column-reverse;
    }

    .socials-wrap {
      justify-content: center;

      ul {
        padding: unset;
      }
    }

  }
}

.nav-wrap {
  .menu-list {
    margin: unset;
    display: flex;

    li {
      &:first-child {
        margin: unset;
      }
    }
  }

  @media (max-width: 991px) {
    .menu-list {
      display: none;
    }

    .footer-nav {
      display: flex;
      flex-direction: column;

      li {
        padding: 20px 0 0 0;
      }
    }
  }
}
