$description-font-size: 1.125rem;

.post {
  padding-top: 9.0625rem;
  position: relative;
  display: flex;
  flex-direction: row;

  &:nth-child(1) {
    padding-top: unset;
  }

  > div {
    flex: 0 0 50%;
    max-width: 100%;
  }

  h2 {
    position: absolute;
    bottom: -2rem;
    font-size: 5.625rem;
    left: 30%;
    width: 100%;
  }

  span {
    font-style: italic;
    font-size: $description-font-size;
    text-align: left;
    padding-top: 3.25rem;
    padding-left: 4.1875rem;
    padding-right: 12.75rem;
  }

  &:nth-child(2n) {
    flex-direction: row-reverse;

    h2 {

      left: unset;
      right: 30%;
    }

    span {
      padding-left: 12.75rem;
      padding-right: 4.1875rem;
    }
  }

  @media (max-width: 1199.98px) {
    span {
      padding-top: 1.25rem;
      padding-right: 8.75rem;
    }

    &:nth-child(2n) {
      span {
        padding-top: 1.25rem;
        padding-left: 8.75rem;
      }
    }

  }

  @media (max-width: 1151px) {
    span {
      padding-right: 3.75rem;
    }

    &:nth-child(2n) {
      span {
        padding-left: 3.75rem;
      }
    }
  }

  @media (max-width: 1010px) {
    flex-direction: column;
    padding-top: 4.125rem;

    // TODO de jogir
    > div {
      padding-right: 3.9375rem !important;
    }

    h2 {
      left: unset;
      right: 1rem;

      @media (max-width: 500px) {
        font-size: 3.125rem;
        margin: 0;
        bottom: -1rem;
      }
    }

    &:nth-child(2n) {
      flex-direction: column;
      > div {
        padding-left: 3.9375rem !important;
        padding-right: unset !important;
      }

      h2 {
        right: unset;
        left: 1rem;
      }
    }

    span {
      padding-top: 2.8125rem;
    }
  }

  @media (max-width: 500px) {
    span{
      padding-top: 2.125rem;
      padding-right: 1.75rem;
      padding-left: 1.75rem;
    }

    &:nth-child(2n) {
      span{
        padding-top: 2.125rem;
        padding-right: 1.75rem;
        padding-left: 1.75rem;
      }
    }
  }

}
