@import '~bootstrap/scss/bootstrap.scss';

$main-font: Bodoni72;


.App {
  font-size: 16px;
  text-align: center;
  color: white;
  font-family: $main-font, Serif;
  background-color: rgb(21,21,21);
}

.container{
  @media (max-width: 991.98px) {
    max-width: none;
  }

}



ul{
  list-style-type: none
}
